#ebrd-popup{
	width: 100%;
	min-height: 100vh;
	position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    padding:0px;
    overflow: auto;
    overflow-y: scroll;
    user-select: none;

}
@media (--s) {
	#ebrd-popup{
		padding:0px;
		line-height: 1.2;
	}
}

#ebrd-popup-container{
	position: absolute;
	width:100%;
	min-height: 100%;
	display: flex;
	align-items: center;
}
@media (--s) {
	#ebrd-popup-container{
		padding:0px;
	}
}

#ebrd-popup-subcontainer{
	max-width: 1366px;
    min-height: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (--s) {
	#ebrd-popup-subcontainer{
		padding-top: 15px;
	}
}


#ebrd-popup-subsubcontainer1{
	width: 100%;
	min-height: calc(100vh - 195px);
	padding-top: 35px;
}
@media (--s) {
	#ebrd-popup-subsubcontainer1{
		min-height: calc(100% - 100px);
		padding-top: 65px;
	}
}

#ebrd-whiteline7{
	width: 1px;
	position: absolute;
	top: 150px;
	left: 0;
	background-color: white;
	height: calc(100% - 150px);
}
@media (--s) {
	#ebrd-whiteline7{
		width: 0px;
	}
}

#ebrd-popup-header{
	color: white;
	font-family: 'Lato-Bold';
	font-size: 32px;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 30px;
}
@media (--s) {
	#ebrd-popup-header{
		margin-left: 0px;
		margin-right: 0px;
	}
}

#ebrd-popup-subheader{
	color: white;
	font-family: 'Lato-Regular';
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

#ebrd-popup-subheader > span{
	font-family: 'Lato-Bold';
}

.ebrd-popup-alert{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 3px;
	font-family: 'Lato-Regular';
	font-size: 16px;
	color: var(--color-gray);
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 30px;
}

#ebrd-popup-alert1{
	display: inline-block;
}
#ebrd-popup-alert2{
	display: none;
}
@media (--s) {
	#ebrd-popup-alert1{
		display: none;
	}
}
@media (--s) {
	#ebrd-popup-alert2{
		display: block;
		line-height: 1.2;
		padding-top: 2px;
	}
}

#ebrd-popup-alert{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 3px;
	font-family: 'Lato-Regular';
	font-size: 16px;
	color: var(--color-gray);
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 30px;
	display: inline-block;
}
@media (--s) {
	#ebrd-popup-alert{
		display: none;
	}
}





#ebrd-popup-bubbles{
	padding: 30px;
}
@media (--s) {
	#ebrd-popup-bubbles{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}


.ebrd-popup-bubble{
	color: white;
	border-radius: 15px;
	border: 1px solid white;
	border-bottom: 1px solid rgba(255,255,255,1);
	font-family: 'Lato-Regular';
	font-size: 20px;
	display: inline-block;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: calc(50%-15px);
	cursor: pointer;
}
@media (--s) {
	.ebrd-popup-bubble{
		max-width: calc(100%-0px);
		margin-bottom: 40px;
		display: block;
	}
}


.ebrd-popup-bubble:nth-child(odd){
	margin-left: 50%;
}
@media (--s) {
	.ebrd-popup-bubble:nth-child(odd){
		margin-left: 0%;
	}
}
.ebrd-popup-bubble:nth-child(even){
	margin-right: 50%;
}
@media (--s) {
	.ebrd-popup-bubble:nth-child(even){
		margin-right: 0%;
	}
}

.ebrd-popup-bubble1{
	@media (hover:hover) {
		&:hover{
			background-color: white;
			color: #00539b;
		};
		&:hover .ebrd-popup-example{
			color: black;
		};
		&:hover:nth-child(odd):after{
			border-left: 11px solid white; 
			border-top: 11px solid white;
		};
		&:hover:nth-child(even):after{
			border-top: 11px solid white; 
			border-right: 11px solid white;
		};
	}
	&.ebrd-popup-active{
		background-color: white;
		color: #00539b;
	};
	&.ebrd-popup-active .ebrd-popup-example{
		color: black;
	};
	&.ebrd-popup-active:nth-child(odd):after{
		border-left: 11px solid white; 
		border-top: 11px solid white;
	};
	&.ebrd-popup-active:nth-child(even):after{
		border-top: 11px solid white; 
		border-right: 11px solid white;
	};	
}

.ebrd-popup-bubble2{
	@media (hover:hover) {
		&:hover{
			background-color: white;
			color: #0079c1;
		};
		&:hover .ebrd-popup-example{
			color: black;
		};
		&:hover:nth-child(odd):after{
			border-left: 11px solid white; 
			border-top: 11px solid white;
		};
		&:hover:nth-child(even):after{
			border-top: 11px solid white; 
			border-right: 11px solid white;
		};
	}
	&.ebrd-popup-active{
		background-color: white;
		color: #0079c1;
	};
	&.ebrd-popup-active .ebrd-popup-example{
		color: black;
	};
	&.ebrd-popup-active:nth-child(odd):after{
		border-left: 11px solid white; 
		border-top: 11px solid white;
	};
	&.ebrd-popup-active:nth-child(even):after{
		border-top: 11px solid white; 
		border-right: 11px solid white;
	};
}

.ebrd-popup-bubble3{
	@media (hover:hover) {
		&:hover{
			background-color: white;
			color: #006857;
		};
		&:hover .ebrd-popup-example{
			color: black;
		};
		&:hover:nth-child(odd):after{
			border-left: 11px solid white; 
			border-top: 11px solid white;
		};
		&:hover:nth-child(even):after{
			border-top: 11px solid white; 
			border-right: 11px solid white;
		};
	}

	&.ebrd-popup-active{
		background-color: white;
		color: #006857;
	};
	&.ebrd-popup-active .ebrd-popup-example{
		color: black;
	};
	&.ebrd-popup-active:nth-child(odd):after{
		border-left: 11px solid white; 
		border-top: 11px solid white;
	};
	&.ebrd-popup-active:nth-child(even):after{
		border-top: 11px solid white; 
		border-right: 11px solid white;
	};
}









.ebrd-popup-bubble:nth-child(odd):before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 15px; 
	top: 100%; 
	border: 12px solid; 
	border-color: white transparent transparent white; 
}
.ebrd-popup-bubble1:nth-child(odd):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-left: 11px solid #00539b; 
	border-top: 11px solid #00539b;
}
.ebrd-popup-bubble2:nth-child(odd):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-left: 11px solid #0079c1; 
	border-top: 11px solid #0079c1;   	
}
.ebrd-popup-bubble3:nth-child(odd):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-left: 11px solid #006857; 
	border-top: 11px solid #006857;   	
}


.ebrd-popup-bubble:nth-child(even):before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 15px; 
	top: 100%; 
	border: 12px solid transparent; 
	border-top: 12px solid white; 
	border-right: 12px solid white;
}
.ebrd-popup-bubble1:nth-child(even):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-top: 11px solid #00539b; 
	border-right: 11px solid #00539b;
}
.ebrd-popup-bubble2:nth-child(even):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-top: 11px solid #0079c1; 
	border-right: 11px solid #0079c1;
}
.ebrd-popup-bubble3:nth-child(even):after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: 16px; 
	top: calc(100%-1px); 
	border: 11px solid transparent;
	border-top: 11px solid #006857; 
	border-right: 11px solid #006857;
}


.ebrd-popup-item{
	margin-bottom: 0px;
}

.ebrd-popup-example{
	margin-top: 0px;
	color: #ddd;
	height: 0;
	overflow: hidden;
	font-size: 16px;
}

.ebrd-popup-example span{
	font-family: 'Lato-Bold';
}

.ebrd-popup-example ul{
	margin: 1em;
}
.ebrd-popup-example li{
	margin: 1em;
}






#ebrd-popup-subsubcontainer2{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-bottom-left-radius: 15px;
}
@media (--s) {
	#ebrd-popup-subsubcontainer2{
		border-bottom-left-radius: 0px;
		border-left: 0px solid white;
		height: 100px;
		margin-bottom: 100px;
	}
}



#ebrd-popup-down-icons{
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
}
@media (--s) {
	#ebrd-popup-down-icons{
		height: 100px;
	}
}


.ebrd-popup-down-iconl {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ebrd-popup-down-iconr{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ebrd-popup-down-iconl > svg{
	height: 100%;
}
.ebrd-popup-down-iconr > svg{
	height: 100%;
	float: right;
}



.ebrd-popup-down-icon{
	height: 100%;
	width: 100%;
}
@media (--s) {
	.ebrd-popup-down-icon{
		height: 100%;
		width: 100%;
	}
}

.ebrd-popup-down-icon > svg{
	height: 100%;
}



#ebrd-popup-cross{
	position:absolute;
	cursor: pointer;
	width:31px;
	height:31px;
	right: 0px;
	top: 0px;
}

#ebrd-popup-cross2{
	position:absolute;
	cursor: pointer;
	width:31px;
	height:31px;
	right: 0px;
	bottom: -60px;
	display: none;
}
@media (--s) {
	#ebrd-popup-cross2{
		display: block;
	}
}




.ebrd-risks-popup-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
    transform: translate(-50%, 0);
}
@media (--s) {
	.ebrd-risks-popup-icon{
		top: -10px;
		width: 80px;
		height: 80px;
	    transform: translate(0, 0);
	}

	#ebrd-risks-popup-icon1{
		left: -20px;
		width: 70px;
		height: 70px;
	}
	#ebrd-risks-popup-icon2{
		left: -10px;
		width: 70px;
		height: 70px;
	}
	#ebrd-risks-popup-icon3{
		left: -20px;
	}
}