@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../assets/fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
