#app-root{
/*	width: calc(100% + 30px);
    margin-left: -15px;*/
}



.header{
	box-shadow: 0px -15px 29px 13px rgba(0,0,0,0.2);
}

a{
	cursor: pointer;
}

@media (--s) {
	#ebrd-infographic{
		width: calc(100% + 30px);
	    margin-left: -15px;
	}
}

.ebrd-mainpage{
	max-width: 1366px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
@media (--s) {
	.ebrd-mainpage{
		line-height: 1.2;
		padding-bottom: 15px;
	}
}


#ebrd-menu-box{
	position: relative;
	z-index: 1;
	max-width: 1366px;
	width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 80px;
}

#ebrd-menu-box-window{
	position: relative;
	left: 15px;
	top: 0px;
	width: 285px;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}

#ebrd-menu-box-window > a{
	text-decoration: none !important;
	cursor: pointer;
	user-select: none;
}

#ebrd-menu-box-window svg{
	width: 30px;
	height: 30px;
}

#ebrd-menu-box-window div{
	text-decoration: none !important;
	font-family: 'Lato-Bold';
    font-size: 20px;
    color: #00539b;
    margin-top: 2px;
}

#ebrd-back{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

#ebrd-forw{
	margin-left: 10px;
	width: 30px;
	height: 30px;
}





.ebrd-mainpage-header{
	font-family: 'Lato-Bold';
	font-size: 40px;
	color: var(--color-blue);
	padding: 20px;
	max-width: calc(100% - 300px);
	margin-top:30px;
}
@media (--s) {
	.ebrd-mainpage-header{
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin-top:0px;
	}
}

.ebrd-mainpage-texts{
	padding: 20px;
	font-family: 'Lato-Medium';
	font-size: 16px;
	border-top: 1px solid var(--color-blue);
	border-left: 1px solid var(--color-blue);
	border-top-left-radius: 15px;
	width: 100%;
}
@media (--s) {
	.ebrd-mainpage-texts{
		border-bottom-left-radius: 15px;
		border-bottom: 1px solid var(--color-blue);
		line-height: 1.3;
	}
}

.ebrd-mainpage-text{
	max-width: calc(100% - 300px);;
}
@media (--s) {
	.ebrd-mainpage-text{
		max-width: 100%;
	}
}

#ebrd-whiteline1{
	position: absolute;
	width:80%;
	right: 0;
	top:-1px;
	height: 1px;
	background-color: white;
}
@media (--s) {
	#ebrd-whiteline1{
		width:50%;
	}
}

#ebrd-whiteline2{
	position: absolute;
	width:15px;
	right: 0;
	bottom:-1px;
	height: 1px;
	background-color: white;
	display: none;
}
@media (--s) {
	#ebrd-whiteline2{
		display: block;
	}
}

#ebrd-whiteline3{
	position: absolute;
	width:11px;
	left: 0;
	top:-1px;
	height: 1px;
	background-color: white;
	display: none;
}
@media (--s) {
	#ebrd-whiteline3{
		display: block;
	}
}


.ebrd-mainpage-menu{
	
	border-top: 0px solid var(--color-blue);
	border-left: 1px solid var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	border-bottom-left-radius: 15px;
	min-height: 640px;
	margin-top: -1px;
}
@media (--s) {
	.ebrd-mainpage-menu{
		padding: 20px;
		border-top: 1px solid var(--color-blue);
		border-left: 0px solid var(--color-blue);
		border-right: 1px solid var(--color-blue);
		border-bottom-left-radius: 0px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		display: flex;
		flex-direction: column;
	}
}



#ebrd-alert{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 3px;
	font-family: 'Lato-Regular';
	font-size: 16px;
	color: var(--color-gray);
	background-color: var(--color-lightgray);
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (--s) {
	#ebrd-alert{
		position: relative;
		min-width: 100%;
		top: auto;
		left: auto;
		transform: translate(0%, 0%);
		margin-top: 30px;
		padding-top: 2px;
	}
}


.ebrd-link{
	font-family: 'Lato-Bold';
	font-size: 26px;
	color: var(--color-blue);
	text-align: center;
	text-decoration: none;
	display:inline-flex;
	flex-direction: column;
	position: absolute;
    transform: translate(-50%, 0);
}
@media (--s) {
	.ebrd-link{
		position: relative;
		transform: translate(0, 0);
	}
}

#ebrd-link0{
	top: 26.5%;
	left: 19%;
}
@media (--s) {
	#ebrd-link0{
		top: auto;
		left: auto;
	}
}
#ebrd-link1{
	top: 57.5%;
	left: 37.5%;
}
@media (--s) {
	#ebrd-link1{
		top: auto; 
		left: auto;
	}
}
#ebrd-link2{
	top: 3.0%;
    left: 50%;
}
@media (--s) {
	#ebrd-link2{
		top: auto;
		left: auto;
	}
}
#ebrd-link3{
    top: 57.5%;
    left: 64.5%;
}
@media (--s) {
	#ebrd-link3{
		top: auto;
		left: auto;
	}
}
#ebrd-link4{
    top: 26.5%;
    left: 79%;
}
@media (--s) {
	#ebrd-link4{
		top: auto;
		left: auto;
	}
}

.ebrd-icon{
	pointer-events: none;
}
.ebrd-link-text{
	pointer-events: none;
	color: var(--color-blue);
}

.ebrd-icon > svg{
	width: 230px;
}

#ebrd-link2{
	margin-top: 40px;
}



.ebrd-icon > svg > .ebrd-color{
	transition: opacity 1.0s;
	opacity: 0;
}	

.ebrd-link{
	&:hover > .ebrd-icon > svg > .ebrd-color{
		opacity: 1;
	};

	/*&:hover > .ebrd-icon > svg > #ebrd-boxes{
	  	animation-name: boxes-move;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
		animation-timing-function: linear;
	};

	&:hover > .ebrd-icon > svg > #ebrd-door{
	  	animation-name: door-open;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
		animation-timing-function: linear;
	};
*/
/*	&:hover > .ebrd-icon > svg > .ebrd-wheel{
	  	animation-name: wheel-rotate;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
		animation-timing-function: linear;
	};*/
/*
	&:hover > .ebrd-icon > svg > #ebrd-smoke{
	  	animation-name: smoke-move;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
		animation-timing-function: linear;
	};

	&:hover > .ebrd-icon > svg > #ebrd-shine{
	  	animation-name: shine-move;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
		animation-timing-function: linear;
	};*/
}

.ebrd-wheel{
	transform-origin: center center;
	transform-box: fill-box;
}

@keyframes boxes-move {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-22px, 0px); }
}

@keyframes shine-move {
  0% { transform: translate(0px, 0px); }
  10% { transform: translate(0px, 0px); }
  50% { transform: translate(80px, 140px); }
  100% { transform: translate(80px, 140px); }
}

@keyframes door-open {
  0% { transform: translate(0px, 0px); }
  33% { transform: translate(0px, -50px); }
  66% { transform: translate(0px, 0px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes wheel-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes smoke-move {
  0% { transform: translate(30px, -28px); }
  5% { transform: translate(30px, -28px); }
  55% { transform: translate(60px, -80px); }
  100% { transform: translate(60px, -80px); }
}