
.ebrd-content{
	max-width: 1366px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 1.2;
}
@media (--s) {
	.ebrd-content{
		padding-top: 0px;
		padding-bottom: 15px;
	}
}


.ebrd-content-header-block{
	display: flex;
	padding: 20px;
	padding-bottom: 0px;
	height:160px;
	width: calc(100%-285px);
	align-items: flex-end;
}
@media (--s) {
	.ebrd-content-header-block{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		height:auto;
		overflow:hidden;
	}
}

.ebrd-content-header{
	font-family: 'Lato-Bold';
	font-size: 40px;
	color: var(--color-blue);
	margin-right: 40px;
	margin-bottom: 20px;
	height: auto;
	line-height: 1;
}
@media (--s) {
	.ebrd-content-header{
		font-size: 30px;
	}
}


#ebrd-content-icons{
	height: 140px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
@media (--s) {
	#ebrd-content-icons{
		height: 100px;
	}
}


.ebrd-content-iconl {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ebrd-content-iconr{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ebrd-content-iconl > svg{
	height: 100%;
}
.ebrd-content-iconr > svg{
	height: 100%;
	float: right;
}



.ebrd-content-icon{
	margin-bottom: 0px;
	height: 100%;
	width: 100%;
}
@media (--s) {
	.ebrd-content-icon{
		margin-bottom: -5px;
		height: 100%;
		width: 100%;
	}
}

.ebrd-content-icon > svg{
	height: 100%;
}









.ebrd-content-texts{
	padding: 20px;
	padding-top:40px;
	padding-bottom:40px;
	font-family: 'Lato-Medium';
	font-size: 16px;
	border-top: 1px solid var(--color-blue);
	border-right: 1px solid var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100%;
}
@media (--s) {
	.ebrd-content-texts{
		border-right: 0px solid var(--color-blue);
		border-left: 1px solid var(--color-blue);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		line-height: 1.3;
	}
}


#ebrd-whiteline4{
	position: absolute;
	width:15px;
	left: 0;
	bottom:-1px;
	height: 1px;
	background-color: white;
}
@media (--s) {
	#ebrd-whiteline4{
		width:15px;
		left: auto;
		right: 0;
		bottom:-1px;
	}
}


.ebrd-content-text1{
	color: var(--color-blue);
	font-family: 'Lato-Bold';
}



.ebrd-content-menu{
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 0px;
	margin-top: -1px;
	border-top: 1px solid var(--color-blue);
	border-left: 1px solid var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
@media (--s) {
	.ebrd-content-menu{
		border-top: 1px solid var(--color-blue);
		border-left: 0px solid var(--color-blue);
		border-right: 1px solid var(--color-blue);
		border-bottom: 1px solid var(--color-blue);
		border-top-left-radius: 0px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 15px;
	}
}

#ebrd-whiteline6{
	position: absolute;
	width:12px;
	right: 0;
	top:-1px;
	height: 1px;
	background-color: white;
}
@media (--s) {
	#ebrd-whiteline6{
		right: auto;
		left: 0;
	}
}

#ebrd-content-menu-header{
	font-family: 'Lato-Bold';
	font-size: 33px;
	color: var(--color-blue2);
	margin-bottom: 30px;
}
@media (--s) {
	#ebrd-content-menu-header{
		font-size: 30px;
	}
}

#ebrd-content-menu-txt{
	font-family: 'Lato-Medium';
	font-size: 16px;
	margin-bottom: 30px;
}

#ebrd-content-alert{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 3px;
	font-family: 'Lato-Regular';
	font-size: 16px;
	color: var(--color-gray);
	background-color: var(--color-lightgray);
	text-align: center;
	position: relative;
	max-width: 354px;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 10px;
}
@media (--s) {
	#ebrd-content-alert{
		margin-bottom: 30px;
	}
}



#ebrd-content-links{
	min-height: 400px;
}
@media (--s) {
	#ebrd-content-links{
		display: flex;
		flex-direction: column;
	}
}


.ebrd-content-link{
	font-family: 'Lato-Medium';
	font-size: 24px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display:inline-flex;
	flex-direction: column;
	position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-bottom: 30px;
}
@media (--s) {
	.ebrd-content-link{
		position: relative;
		transform: translate(0, 0);
	}
}


.ebrd-content-link-icon > svg{
	width: 160px;
}

.ebrd-content-link-text{
	margin-top: -5px;
}

.ebrd-content-link circle{
	transition: 1.0s;
}


#ebrd-content-link1{
	&:hover circle{
		fill: #fff !important;
		stroke: var(--color-blue) !important;
		filter:url(#dropshadow);
	};
	&:hover ellipse,
	&:hover polygon,
	&:hover rect
	{
		stroke: var(--color-blue) !important;
	};
}

#ebrd-content-link2{
	&:hover circle{
		fill: #fff !important;
		stroke: var(--color-blue2) !important;
		filter:url(#dropshadow);
	};
	&:hover path
	{
		stroke: var(--color-blue2) !important;
	};
}

#ebrd-content-link3{
	&:hover circle{
		fill: #fff !important;
		stroke: var(--color-green) !important;
		filter:url(#dropshadow);
	};
	&:hover path
	{
		stroke: var(--color-green) !important;
	};
}








.ebrd-content-link-subtext{
	font-family: 'Lato-Regular';
	font-size: 14px;
	text-align: center;
	text-transform: none;
	letter-spacing: 0px;
	display: none;
}
@media (--s) {
	.ebrd-content-link-subtext{
		display: block;
	}
}


#ebrd-content-link1{
	top: 27%;
	left: 50%;
	color: var(--color-blue);
}
@media (--s) {
	#ebrd-content-link1{
		top: auto;
		left: auto;
	}
}
#ebrd-content-link2{
	top: 66%;
	left: 30%;
	color: var(--color-blue2);
}
@media (--s) {
	#ebrd-content-link2{
		top: auto;
		left: auto;
	}
}
#ebrd-content-link3{
	top: 66%;
	left: 70%;
	color: var(--color-green);
}
@media (--s) {
	#ebrd-content-link3{
		top: auto;
		left: auto;
	}
}





#ebrd-content-down-icons{
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
@media (--s) {
	#ebrd-content-down-icons{
		height: 100px;
	}
}


.ebrd-content-down-iconl {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ebrd-content-down-iconr{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ebrd-content-down-iconl > svg{
	height: 100%;
}
.ebrd-content-down-iconr > svg{
	height: 100%;
	float: right;
}



.ebrd-content-down-icon{
	height: 100%;
	width: 100%;
}
@media (--s) {
	.ebrd-content-down-icon{
		height: 100%;
		width: 100%;
	}
}

.ebrd-content-down-icon > svg{
	height: 100%;
}



.content-go-up{
    font-family: 'Lato-Bold';
    font-size: 20px;
    color: var(--color-blue);
    margin-top: 10px;
    display: none;
    text-align: right;
    margin-right: 15px;
}
@media (--s) {
	.content-go-up{
	    display: flex;
	    justify-content: flex-end;
	}
}
.content-go-up-icon{
	width: 30px;
	height: 30px;
}
.content-go-up-icon svg{
	width: 30px;
	height: 30px;
	margin-left: 3px;
}