#ebrd-collapsable-box{
	
	top: 70px;
	z-index: 5;
	max-width: 1366px;
	width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
.ebrd-collapsable-box-fixed{
	position: fixed;
}
.ebrd-collapsable-box-absolute{
	position: absolute;
}
@media (--s) {
	#ebrd-collapsable-box{
		position: relative;
	}
}


#ebrd-collapsable-box-window{
	position: absolute;
	right: 15px;
	top: 0px;
	width: 285px;
	background-color: var(--color-lightmagenta);
	padding-top: 14px;
/*    padding-bottom: 22px;*/

}
@media (--s) {
	#ebrd-collapsable-box-window{
		position: relative;
		right: auto;
		width: 100%;
	}
}

#ebrd-collapsable-box-window-content{
	padding-left: 27px;
	padding-right: 27px;
    overflow: hidden;
}

.ebrd-collapsable-closed{
/*	padding-top: 14px;
    padding-bottom: 0px;*/
    /*height: 50px;*/
}
@media (--s) {
	.ebrd-collapsable-closed{
/*		padding-top: 0px;
	    padding-bottom: 0px;*/
	    /*height: 0px;*/
	}
}

.ebrd-collapsable-opened{
/*	padding-top: 14px;
    padding-bottom: 22px;*/
    /*height: auto;*/
}



#ebrd-collapsable-box-window-header{
	font-family: 'Lato-Medium';
	font-size: 20px;
	text-align: right;
	color: var(--color-blue);
	margin-bottom: 14px;
}

#ebrd-collapsable-box-window-txt{
	font-family: 'Lato-Medium';
	font-size: 14px;
	text-align: right;
	color: black;
	margin-bottom: 14px;
	padding-left: 20%;
}
@media (--s) {
	#ebrd-collapsable-box-window-txt{
		padding-left: 0%;
	}
}


#ebrd-collapsable-box-window-line{
	background-color: var(--color-orange);
	height: 2px;
	width: 100%;
	margin-bottom: 4px;
}

#ebrd-collapsable-box-window-download{
	font-family: 'Lato-Medium';
	font-size: 16px;
	text-align: right;
	color: var(--color-blue);
	/*margin-bottom: 25px;*/
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	margin-bottom: 12px;
}

#ebrd-collapsable-box-window-download-txt{
	margin-right: 4px;
}

#ebrd-collapsable-box-window-download-arrow{
	width: 16px;
	height: 16px;
	margin-top: 4px;
}

#ebrd-collapsable-box-sharing{
	/*display: flex;*/
	justify-content: flex-end;
	display: none;
}

.ebrd-share{
	width: 34px;
	height: 34px;
	margin-left: 4px;
	cursor: pointer;
}

#ebrd-collapsable-box-window-shareit{
	font-family: 'Lato-Bold';
	font-size: 13px;
	color: var(--color-gray);
}


#ebrd-collapsable-box-open-btn{
	background-color: var(--color-darkmagenta);
	width: 100%;
	font-family: 'Lato-Bold';
	font-size: 13px;
	color: var(--color-gray);
	text-align: right;
	padding-right: 27px;
	cursor: pointer;
	height: 22px;
	padding-top: 2px;
	display: flex;
	justify-content: flex-end;
}

#ebrd-collapsable-box-open-btn-icon{
	width: 16px;
	height: 16px;
	margin-left: 4px;
}