<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
  <title>ebrd</title>
  
  <style type="text/css">
   #app-header { 
  	background: white;
  	position: fixed;
  	z-index: 10;
  	height: 70px;
  	width: 100%;
  	display: -ms-flexbox;
    display: flex;
    padding-left:10px;
    background-color: white;
    -webkit-box-shadow: 0px -15px 29px 13px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -15px 29px 13px rgba(0,0,0,0.2);
    box-shadow: 0px -15px 29px 13px rgba(0,0,0,0.2);
   }

	#app-logo{
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 1rem!important;
	}

  </style>

</head>

<body>
<% for (var css in htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
<% } %>

<div id="app-header">
	<div id="app-logo">
		<img src="https://www.physicalclimaterisk.com/img/EBRD-logo.svg" height="35" alt="EBRD Logo">
	</div>
</div>

<div id="app-root">

  <script type='text/javascript'>
    var el = document.getElementById("app-root");
    el.style.display = 'none';
    el.style.opacity = 0;
    el.style.transition = 'opacity 0.5s';
  </script>

</div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>

</html>
