@import './styles/fonts';
@import './components/app';
@import './components/content';
@import './components/popup';
@import './components/collbox';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
  --color-blue: #00539b;
  --color-blue2: #0079c1;
  --color-black: #020202;
  --color-gray: #58595b;
  --color-green: #006857;

  --color-lightmagenta: #d6e9f6;
  --color-darkmagenta:#f7f7f7;
  --color-orange:#e8941a;

  --color-lightgray: rgba(88, 89, 91, 0.05);
}

@custom-media --s (max-width: 800px);
@custom-media --m (min-width: 800px);
@custom-media --l (min-width: 1200px);